<h1 class="title">Single Product</h1>
<table>
    <tr>
        <th>Name</th>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{product.price}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{product.description}}</td>
    </tr>
    <tr>
        <td>
            <form method="POST" action="/products/{{product.id}}?_method=DELETE">
                <input type="submit" value="Delete" class="btn">
            </form>
        </td>
        <td>
            <button onclick="window.location.href='./{{product.id}}/edit'">Editar Producto</button>
        </td>
    </tr>
</table>